@media only screen and (max-width: 1180px) {
  .wrapper { width: 90%; }
  #social { 
    position: absolute;
    width: auto;
    top: 82px;
    right: 4px;
  }
}

@media only screen and (max-width: 900px) {
  body { font-size: 85%; }
  #logo h1 {
    height: ;
  }
}